<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>


    <!-- FCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>

    <application
        android:name=".base.MainApplication"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:allowBackup"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <meta-data android:name="android.max_aspect" android:value="2.1" />

<!--        <activity android:name=".main.IntroActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="main"
                    android:scheme="foxschool" />
            </intent-filter>
        </activity>-->

        <activity android:name=".presentation.screen.intro.IntroActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="main"
                    android:scheme="foxschool" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.screen.login.LoginActivity"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".presentation.screen.main.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".presentation.screen.series_contents_list.SeriesContentsListActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".presentation.screen.category_list.CategoryListActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".presentation.screen.management_mybooks.ManagementMyBooksActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".presentation.screen.search.SearchActivity"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".presentation.screen.bookshelf.BookshelfActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>


        <activity android:name=".presentation.screen.vocabulary.VocabularyActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.StoryCategoryListActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>


        <activity android:name=".main.IntroduceSeriesActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.AppUseGuideActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>



        <activity android:name=".main.MyInformationActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.FoxSchoolNewsActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.FAQActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.InquireActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.RecordPlayerActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.StudentHomeworkManageActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.TeacherHomeworkManageActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.TeacherHomeworkCheckingActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.RecordHistoryActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.PlayerHlsActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>

        <activity android:name=".main.QuizActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".main.FlashCardActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".main.webview.WebviewLearningLogActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.webview.WebviewFAQActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.webview.WebviewPolicyTermsActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.webview.WebviewPolicyPrivacyActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.webview.WebviewGameStarwordsActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.webview.WebviewGameCrosswordActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.webview.WebviewOriginTranslateActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.webview.WebviewFoxSchoolIntroduceActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.webview.WebviewUserFindInformationActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <activity android:name=".main.webview.WebviewEbookActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme_Default">
        </activity>

        <service
            android:name=".fcm.LittlefoxFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.littlefox.app.foxschool"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>